h6 {
  font-weight: 700;
}

// 內文/T-M 18px
.fs-m-1 {
  font-size: 18px;
  font-weight: 500;
}

// 內文/T-M 14px
.fs-m-2 {
  font-size: 14px;
  font-weight: 500;
}

// 內文/T-R 14px
.fs-r-2 {
  font-size: 14px;
}

// 12px
.fs-r-3 {
  font-size: 12x;
}
