<footer class="bg-primary-100">
    <div class="container py-12 py-lg-24">
        <div
            class="d-flex flex-column align-items-center flex-lg-row align-items-lg-start justify-content-lg-between border-bottom border-gray-400 pb-10 mb-10">
            <h2><a class="logo mb-6" href="index.html" style="background-image: url(/assets/images/logo-s.png);">月幕
                    MOON
                    LIKE | online shop</a></h2>
            <div class="d-flex flex-column align-items-center flex-lg-row ">
                <ul class="d-grid gap-2 gap-lg-5 fs-r-2 text-center text-lg-start text-gray-500 mx-5 mb-6">
                    <li><a href="#" class="h5 text-gray-800">ABOUT US</a></li>
                    <li><a href="#">品牌故事</a></li>
                    <li><a href="#">會員制度</a></li>
                    <li><a href="#">門市據點</a></li>
                </ul>
                <ul class="d-grid gap-2 gap-lg-5 fs-r-2 text-center text-lg-start  text-gray-500 mx-5 mb-6">
                    <li><a href="#" class="h5 text-gray-800">SERVICE</a></li>
                    <li><a href="#">購物須知</a></li>
                    <li><a href="#">退換貨政策</a></li>
                    <li><a href="#">隱私權政策</a></li>
                </ul>
                <ul
                    class="d-grid gap-2 gap-lg-5 align-self-start fs-r-2 text-center text-lg-start  text-gray-500 mx-5 mb-6">
                    <li><a href="#" class="h5 text-gray-800">COMPANY</a></li>
                    <li><a href="#">月幕水晶時尚有限公司</a></li>
                    <li><a href="#">統編 080000000</a></li>
                </ul>

                <ul class="d-lg-none d-grid gap-2 gap-lg-5 fs-r-2 text-center text-lg-start  text-gray-500 mx-5 mb-6">
                    <li><a href="#" class="h5 text-gray-800">SOCIALS</a></li>
                    <li><a href="#">線上客服</a></li>
                    <li><a href="#">MON-FRI/9:00-18:00</a></li>
                    <li>
                        <ul class="d-flex justify-content-center gap-4 text-gray-700">
                            <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                            <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                            <li><a href="#"><i class="bi bi-line"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-center text-gray-400 fs-r-3">
            <p>Copyright © 2024 MOON LIKE All rights reserved</p>
            <p>本網站為學習使用不做商業使用</p>
        </div>
    </div>
</footer>