<!-- bug:sticky-top在一定的位子會失效，先改使用fixed-top以另外的div佔空間-->
<div class="fixed-box"></div>
<div class="bg-white fixed-top border-bottom d-none d-lg-block">
    <header class="container py-10">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container position-relative flex-row-reverse flex-lg-row">
                <h1 class="d-flex d-none d-lg-block"><a class="logo" href="index.html"
                        style="background-image: url(/assets/images/logo-s.png);">月幕 MOON
                        LIKE |
                        online shop</a></h1>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link fw-bold py-4 px-8" aria-current="page" href="#">關於我們<span
                                    class="fs-m-2 fw-normal text-primary-400">About
                                    us</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle fw-bold py-4 px-8" href="#" id="navbarDropdownMenuLink"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                關於水晶<span class="fs-m-2 fw-normal text-primary-400">Blog</span></a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">大自然的淨化魔法</a></li>
                                <li><a class="dropdown-item" href="#">歷史的自然瑰寶</a></li>
                                <li><a class="dropdown-item" href="#">地心深處的秘密</a></li>
                                <li><a class="dropdown-item" href="#">璀璨的招財能量</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold py-4 px-8" aria-current="page" href="list.html">精選商品<span
                                    class="fs-m-2 fw-normal text-primary-400">Products</span></a>
                        </li>
                        <li class="nav-item"></li>
                        <a class="nav-link fw-bold py-4 px-8" aria-current="page" href="#">常見問題<span
                                class="fs-m-2 fw-normal text-primary-400">Q&A</span></a>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav d-flex align-items-center ms-auto">
                    <li class="nav-item">
                        <a href="#" class="p-4"><i class="bi bi-search h4 text-primary"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="p-4"><i class="bi bi-person h3 text-primary"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="p-4"><i class="bi bi-cart h4 text-primary"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</div>

<!-- mobile nav -->
<nav class="navbar navbar-expand-lg bg-white fixed-top border-bottom d-lg-none">
    <div class="container-fluid">
        <h1 class="d-flex align-items-center">
            <a class="logo-md" href="index.html" style="background-image: url(/assets/images/logo-lg-opacity.png);">月幕
                MOON
                LIKE |
                online shop</a>
            <a class="logo" href="index.html" style="background-image: url(/assets/images/logo-s.png);">月幕
                MOON
                LIKE |
                online shop</a>
        </h1>
        <a href="#" class="ms-auto me-2"><i class="bi bi-search h4"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h2 class="offcanvas-title text-gray-900 fs-m-1" id="offcanvasNavbarLabel">會員中心</h2>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body d-flex">

                <ul class="navbar-nav text-gray-700 me-auto mb-2 mb-lg-0 w-100">

                    <li class="nav-item text-gray-600 fs-r-3 mb-4">
                        <i class="bi bi-person-circle"></i><span>123456789@gmail.com</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">我的帳戶</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">收件地址</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">折扣優惠</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">更新密碼</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">收件地址</a>
                    </li>
                    <li class="nav-item border-bottom">
                        <a class="nav-link">我的訂單</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold py-3" aria-current="page" href="#">關於我們<span
                                class="fs-m-2 fw-normal text-primary-400 ms-3">About
                                us</span></a>
                    </li>
                    <a class="nav-link fw-bold py-3" href="#">
                        關於水晶<span class="fs-m-2 fw-normal text-primary-400 ms-3">Blog</span></a>
                    <a class="nav-link fw-bold py-3" aria-current="page" href="list.html">精選商品<span
                            class="fs-m-2 fw-normal text-primary-400 ms-3">Products</span></a>
                    <a class="nav-link fw-bold py-3" aria-current="page" href="#">常見問題<span
                            class="fs-m-2 fw-normal text-primary-400 ms-3">Q&A</span></a>
                    </li>
                    <form class="mt-auto">
                        <button class="btn btn-primary-400 text-white w-100 rounded-1" type="button">登出</button>
                    </form>
                </ul>
            </div>
        </div>
    </div>
</nav>