.logo {
  width: 216px;
  height: 32px;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  // transform: translate(-50%, -50%, 0);
  // .fixed-top {
  //   top: none;
  // }
  @include mobile {
    width: 132px;
    height: 20px;
  }
}

.logo-md {
  width: 64px;
  height: 72px;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  @include mobile {
    width: 32px;
    height: 36px;
  }
}

header {
  .dropdown-toggle::after {
    display: none;
  }
  .nav-link {
    color: #4b4b4b;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover {
      opacity: 0.6;
    }
  }
  i {
    &:hover {
      color: $primary;
    }
  }
}

.navbar {
  .navbar-toggler {
    border: 0;
  }
}
