img {
    max-width: 100%;
    height: auto;
}




// section1
.bg1 {
    justify-content: space-around;
    display: flex;
}

// 第一層左側選單
.side-menu {
    max-width: 100%;
}

.list-link {
    cursor: $form-range-track-cursor;
    /* 當滑鼠滑過時顯示小手 */

}

.list-link:hover {
    color: $primary-400 !important;
    /* 自訂滑鼠懸停時的文字顏色 (可選) */
    text-decoration: underline;
    /* 滑鼠滑過時加底線 */

}

.side-menu .list-link a span {
    font-size: 1.5em;
    /* 調整圖案大小 */

}

.text {
    font-size: 32px;
    line-height: 1.2;
}

@include pad {
    .text {
        font-size: 24px;
    }
}

// 第一層容器右側設定
.content {
    // 為了避免擠壓到旁邊分類
    max-width: 1528px;
    align-content: flex-start;

}

// 第二層容器設定內容位置
.container {
    justify-content: space-between;
}

// 第二層右側搜尋欄
.form-control {
    cursor: $form-range-track-cursor; // 使用變數
}

// 第二層card設定
.title-decorate {
    span {
        position: relative;
        z-index: 1;
    }

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $gray-400;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        z-index: 0;
    }
}

.hot-sales {

    // background-color: pink;
    .card {
        border: 0;
    }

    &-title {
        &:hover {
            color: $primary !important;
        }
    }

    .btn-loving {
        width: 40px;
        height: 40px;

        span {
            &:hover {
                font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
                color: $primary !important;
            }
        }
    }
}


.other-series {
    .card {
        border: 0;
    }
}

.about {
    &-img {
        height: 100%;
        object-fit: cover;
    }

    .card-title {
        &:hover {
            color: $primary !important;
        }
    }

    .read-more {
        &:hover {
            color: $primary-400 !important;
        }
    }
}

.card {
    position: relative;
    /* 確保子元素的絕對定位相對於這個容器 */
    overflow: hidden;
    /* 確保背景層不會超出邊界 */
}

.overlay {
    position: absolute;
    /* 絕對定位，填滿父容器 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    /* 半透明黑色背景 */
    opacity: 0;
    /* 初始隱藏 */
    transition: opacity 0.3s;
    /* 漸變效果 */
}

.card:hover .overlay {
    opacity: 1;
    /* 當鼠標懸停時顯示背景 */
}

.add-to-cart-btn {
    position: absolute;
    /* 絕對定位 */
    bottom: 16px;
    /* 距離底部16px */
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 1);
    /* 半透明白色背景 */
    color: $gray-700 !important;
    /* 按鈕文字顏色 */
    font-size: 18px;
    line-height: 1.5;
    border: none;
    /* 去除邊框 */
    padding: 6.5px 10px;
    border-radius: 4px;
    opacity: 0;
    /* 初始隱藏 */
    transition: opacity 0.3s;
    /* 漸變效果 */
    width: 90%;
    /* 設定寬度為100% */
}

.card:hover .add-to-cart-btn {
    opacity: 1;
    /* 當鼠標懸停時顯示按鈕 */
}

.add-to-cart-btn:hover {
    color: $primary !important;
}

// 分頁設定
.pagination .page-link {
    background-color: transparent;
    /* 移除背景色 */
    box-shadow: none;
    /* 移除陰影 */
    border: none;
    /* 移除邊框 */
    color: inherit;
    /* 保持文字顏色 */
}

.pagination .page-link:hover {
    background-color: transparent;
    /* 移除滑鼠懸停時的背景色 */
    box-shadow: none;
    /* 移除滑鼠懸停時的陰影 */
    color: rgba(191, 99, 78, 1);
    /* 自訂滑鼠懸停時的文字顏色 (可選) */
}








// section2樣式
.section2-bg {
    max-width: 100%;
    height: 640px;
}

// 左側區塊
.section2-left {
    height: 400px;
    border-radius: 24px 0 0 24px;
}

// 右側區塊
.section2-right {
    // max-width: 640px;
    height: auto;
    border-radius: 0 24px 24px 0;
}

.moon {
    // max-width: 216px;
    // height: 32px;
    padding-top: 96px;
}

.discribe {
    max-width: 416px;
    height: auto;
}



.form-control {
    max-width: 320px;
    height: 48px;
}

.form-btn {
    width: 96px;
}

// 響應式小於375px
// @media (max-width: 375px) {
//     .bg {
//         max-width: 100%;
//         height: 419px;
//     }

//     .bg-2 {
//         max-width: auto;
//         height: 151px;
//     }

//     .sub {
//         max-width: 351px;
//         height: atuo;
//     }

//     .sub-all {
//         padding-top: 32px;
//     }

//     .discribe {
//         max-width: 311px;
//     }

//     .discribe p {
//         font-size: 18px;
//         padding-bottom: 16px;
//     }

//     .form-control {
//         max-width: 311px;
//         height: 40px;
//     }

//     .form-btn {
//         width: 64px;
//     }
// }