<!DOCTYPE html>
<html lang="zh-TW">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>月幕 MOON LIKE | online shop</title>
	<%- include('./layout/head'); -%>
</head>

<body>
	<%- include('./layout/header'); -%>
		<!-- 請刪除main中間資料之後開始開發 -->
		<main>
			<!-- banner區塊 -->
			<section>
				<picture>
					<source media="(min-width: 576px)" srcset="../assets/images/banner2.png">
					<img src="../assets/images/banner2-sm.png" alt="banner">
				</picture>
			</section>

			<!-- section1 -->
			<!-- 分類區塊 -->
			<section class="bg1 d-flex" style="background-color:white;">
				<!-- 第一層容器左側分類 -->
				<div class="left d-flex flex-wrap">
					<div class="pt-20 ps-20 d-none d-xxl-block">
						<nav class="side-menu"></nav>
						<ul class="list-unstyled h4 text-gray-700">
							<h4 class="pb-8">分類</h4>
							<li class="list-link pb-8">所有系列
								<a class="list-link" href="#" aria-label="Next">
									<span aria-hidden="true" class="ms-22">&gt;</span>
								</a>
							</li>
							<li class="list-link pb-8">財運&事業
								<a class="list-link" href="#" aria-label="Next">
									<span aria-hidden="true" class="ms-18">&gt;</span>
								</a>
							</li>
							<li class="list-link pb-8">人緣&戀愛
								<a class="list-link" href="#" aria-label="Next">
									<span aria-hidden="true" class="ms-18">&gt;</span>
								</a>
							</li>
							<li class="list-link pb-8">健康&平安
								<a class="list-link" href="#" aria-label="Next">
									<span aria-hidden="true" class="ms-18">&gt;</span>
								</a>
							</li>
						</ul>

					</div>


				</div>
				<!-- 第一層容器右側區域 -->
				<div class="right content d-flex flex-wrap pt-8 pt-lg-20">

					<!-- 第二層容器p跟搜尋框 -->
					<div class="container d-flex">
						<h2 class="text text-gray-800">人緣&戀愛</h2>
						<div class="input-group d-flex d-none d-sm-inline-flex"
							style="max-width: 306px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2), 0px 0.1px 0.3px 0px rgba(253, 34, 34, 0.1); border-radius: 2px; background-color: white;">
							<span class="input-group-text" id="basic-addon1"
								style="background-color: transparent; border: none;">
								<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
									class="bi bi-search" viewBox="0 0 16 16">
									<path
										d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0">
									</path>
								</svg>
							</span>
							<input type="text" class="form-control d-none d-sm-inline" placeholder="搜尋"
								aria-label="Input group example" aria-describedby="basic-addon1" style="border: none;">
						</div>
					</div>

					<!-- 第二層容器card區塊 -->
					<section class="hot-sales container py-8 py-lg-12">
						<div class="row row-cols-2 row-cols-lg-4">
							<!-- card第一排 -->
							<div class="col">
								<div class="card text-center position-relative">
									<!-- 商品圖片 -->
									<div class="card">
										<img src="../assets/images/Item-1.png" class="card-img" alt="商品照">
										<div class="overlay"></div> <!-- 半透明黑色背景層 -->
										<button class="add-to-cart-btn">加入購物車</button>
									</div>
									<!-- 收藏愛心 -->
									<!-- bug1 -->
									<div
										class="btn-loving d-flex align-items-center justify-content-center bg-white rounded-circle opacity-50 position-absolute top-0 end-0 mt-4 me-4">
										<a href="#"><span
												class="material-symbols-outlined align-bottom text-gray-600 fw-light">
												favorite
											</span></a>
									</div>
									<!-- 商品文字 -->
									<div class="card-body">
										<a href="plist.html">
											<p class="hot-sales-title text-gray-800 mb-4">二姊款｜水晶手鍊</p>
											<p class="text-gray-900">
												<span class="text-decoration-line-through fs-m-2 text-gray-600 me-3">
													NT$1990
												</span>NT$980
											</p>
										</a>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card text-center position-relative">
									<!-- 商品圖片 -->
									<div class="card">
										<img src="../assets/images/Item-3.png" class="card-img" alt="商品照">
										<div class="overlay"></div> <!-- 半透明黑色背景層 -->
										<button class="add-to-cart-btn">加入購物車</button>
									</div>
									<!-- 收藏愛心 -->
									<div
										class="btn-loving d-flex align-items-center justify-content-center bg-white rounded-circle opacity-50 position-absolute top-0 end-0 mt-4 me-4">
										<a href="#"><span
												class="material-symbols-outlined align-bottom text-gray-600 fw-light">
												favorite
											</span></a>
									</div>
									<!-- 商品文字 -->
									<div class="card-body">
										<a href="plist.html">
											<p class="hot-sales-title text-gray-800 mb-4">少女坦桑石｜水晶手鍊</p>
											<p class="text-gray-900">
												<span class="text-decoration-line-through fs-m-2 text-gray-600 me-3">
													NT$1990
												</span>NT$980
											</p>
										</a>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card text-center position-relative">
									<!-- 商品圖片 -->
									<div class="card">
										<img src="../assets/images/Item-2.png" class="card-img" alt="商品照">
										<div class="overlay"></div> <!-- 半透明黑色背景層 -->
										<button class="add-to-cart-btn">加入購物車</button>
									</div>
									<!-- 收藏愛心 -->
									<div
										class="btn-loving d-flex align-items-center justify-content-center bg-white rounded-circle opacity-50 position-absolute top-0 end-0 mt-4 me-4">
										<a href="#"><span
												class="material-symbols-outlined align-bottom text-gray-600 fw-light">
												favorite
											</span></a>
									</div>
									<!-- 商品文字 -->
									<div class="card-body">
										<a href="plist.html">
											<p class="hot-sales-title text-gray-800 mb-4">太陽月亮｜水晶手鍊</p>
											<p class="text-gray-900">
												<span class="text-decoration-line-through fs-m-2 text-gray-600 me-3">
													NT$1990
												</span>NT$980
											</p>
										</a>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card text-center position-relative">
									<!-- 商品圖片 -->
									<div class="card">
										<img src="../assets/images/Item-4.png" class="card-img" alt="商品照">
										<div class="overlay"></div> <!-- 半透明黑色背景層 -->
										<button class="add-to-cart-btn">加入購物車</button>
									</div>
									<!-- 收藏愛心 -->
									<div
										class="btn-loving d-flex align-items-center justify-content-center bg-white rounded-circle opacity-50 position-absolute top-0 end-0 mt-4 me-4">
										<a href="#"><span
												class="material-symbols-outlined align-bottom text-gray-600 fw-light">
												favorite
											</span></a>
									</div>
									<!-- 商品文字 -->
									<div class="card-body">
										<a href="plist.html">
											<p class="hot-sales-title text-gray-800 mb-4">富貴綠｜水晶手鍊</p>
											<p class="text-gray-900">
												<span class="text-decoration-line-through fs-m-2 text-gray-600 me-3">
													NT$1990
												</span>NT$980
											</p>
										</a>
									</div>
								</div>
							</div>
							<!-- card第二排 -->
							<div class="col">
								<div class="card text-center position-relative">
									<!-- 商品圖片 -->
									<div class="card">
										<img src="../assets/images/Item-1.png" class="card-img" alt="商品照">
										<div class="overlay"></div> <!-- 半透明黑色背景層 -->
										<button class="add-to-cart-btn">加入購物車</button>
									</div>
									<!-- 收藏愛心 -->
									<!-- bug1 -->
									<div
										class="btn-loving d-flex align-items-center justify-content-center bg-white rounded-circle opacity-50 position-absolute top-0 end-0 mt-4 me-4">
										<a href="#"><span
												class="material-symbols-outlined align-bottom text-gray-600 fw-light">
												favorite
											</span></a>
									</div>
									<!-- 商品文字 -->
									<div class="card-body">
										<a href="plist.html">
											<p class="hot-sales-title text-gray-800 mb-4">二姊款｜水晶手鍊</p>
											<p class="text-gray-900">
												<span class="text-decoration-line-through fs-m-2 text-gray-600 me-3">
													NT$1990
												</span>NT$980
											</p>
										</a>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card text-center position-relative">
									<!-- 商品圖片 -->
									<div class="card">
										<img src="../assets/images/Item-3.png" class="card-img" alt="商品照">
										<div class="overlay"></div> <!-- 半透明黑色背景層 -->
										<button class="add-to-cart-btn">加入購物車</button>
									</div>
									<!-- 收藏愛心 -->
									<div
										class="btn-loving d-flex align-items-center justify-content-center bg-white rounded-circle opacity-50 position-absolute top-0 end-0 mt-4 me-4">
										<a href="#"><span
												class="material-symbols-outlined align-bottom text-gray-600 fw-light">
												favorite
											</span></a>
									</div>
									<!-- 商品文字 -->
									<div class="card-body">
										<a href="plist.html">
											<p class="hot-sales-title text-gray-800 mb-4">少女坦桑石｜水晶手鍊</p>
											<p class="text-gray-900">
												<span class="text-decoration-line-through fs-m-2 text-gray-600 me-3">
													NT$1990
												</span>NT$980
											</p>
										</a>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card text-center position-relative">
									<!-- 商品圖片 -->
									<div class="card">
										<img src="../assets/images/Item-2.png" class="card-img" alt="商品照">
										<div class="overlay"></div> <!-- 半透明黑色背景層 -->
										<button class="add-to-cart-btn">加入購物車</button>
									</div>
									<!-- 收藏愛心 -->
									<div
										class="btn-loving d-flex align-items-center justify-content-center bg-white rounded-circle opacity-50 position-absolute top-0 end-0 mt-4 me-4">
										<a href="#"><span
												class="material-symbols-outlined align-bottom text-gray-600 fw-light">
												favorite
											</span></a>
									</div>
									<!-- 商品文字 -->
									<div class="card-body">
										<a href="plist.html">
											<p class="hot-sales-title text-gray-800 mb-4">太陽月亮｜水晶手鍊</p>
											<p class="text-gray-900">
												<span class="text-decoration-line-through fs-m-2 text-gray-600 me-3">
													NT$1990
												</span>NT$980
											</p>
										</a>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card text-center position-relative">
									<!-- 商品圖片 -->
									<div class="card">
										<img src="../assets/images/Item-4.png" class="card-img" alt="商品照">
										<div class="overlay"></div> <!-- 半透明黑色背景層 -->
										<button class="add-to-cart-btn">加入購物車</button>
									</div>
									<!-- 收藏愛心 -->
									<div
										class="btn-loving d-flex align-items-center justify-content-center bg-white rounded-circle opacity-50 position-absolute top-0 end-0 mt-4 me-4">
										<a href="#"><span
												class="material-symbols-outlined align-bottom text-gray-600 fw-light">
												favorite
											</span></a>
									</div>
									<!-- 商品文字 -->
									<div class="card-body">
										<a href="plist.html">
											<p class="hot-sales-title text-gray-800 mb-4">富貴綠｜水晶手鍊</p>
											<p class="text-gray-900">
												<span class="text-decoration-line-through fs-m-2 text-gray-600 me-3">
													NT$1990
												</span>NT$980
											</p>
										</a>
									</div>
								</div>
							</div>
							<!-- card第三排 -->
							<div class="col">
								<div class="card text-center position-relative">
									<!-- 商品圖片 -->
									<div class="card">
										<img src="../assets/images/Item-1.png" class="card-img" alt="商品照">
										<div class="overlay"></div> <!-- 半透明黑色背景層 -->
										<button class="add-to-cart-btn">加入購物車</button>
									</div>
									<!-- 收藏愛心 -->
									<!-- bug1 -->
									<div
										class="btn-loving d-flex align-items-center justify-content-center bg-white rounded-circle opacity-50 position-absolute top-0 end-0 mt-4 me-4">
										<a href="#"><span
												class="material-symbols-outlined align-bottom text-gray-600 fw-light">
												favorite
											</span></a>
									</div>
									<!-- 商品文字 -->
									<div class="card-body">
										<a href="plist.html">
											<p class="hot-sales-title text-gray-800 mb-4">二姊款｜水晶手鍊</p>
											<p class="text-gray-900">
												<span class="text-decoration-line-through fs-m-2 text-gray-600 me-3">
													NT$1990
												</span>NT$980
											</p>
										</a>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card text-center position-relative">
									<!-- 商品圖片 -->
									<div class="card">
										<img src="../assets/images/Item-3.png" class="card-img" alt="商品照">
										<div class="overlay"></div> <!-- 半透明黑色背景層 -->
										<button class="add-to-cart-btn">加入購物車</button>
									</div>
									<!-- 收藏愛心 -->
									<div
										class="btn-loving d-flex align-items-center justify-content-center bg-white rounded-circle opacity-50 position-absolute top-0 end-0 mt-4 me-4">
										<a href="#"><span
												class="material-symbols-outlined align-bottom text-gray-600 fw-light">
												favorite
											</span></a>
									</div>
									<!-- 商品文字 -->
									<div class="card-body">
										<a href="plist.html">
											<p class="hot-sales-title text-gray-800 mb-4">少女坦桑石｜水晶手鍊</p>
											<p class="text-gray-900">
												<span class="text-decoration-line-through fs-m-2 text-gray-600 me-3">
													NT$1990
												</span>NT$980
											</p>
										</a>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card text-center position-relative">
									<!-- 商品圖片 -->
									<div class="card">
										<img src="../assets/images/Item-2.png" class="card-img" alt="商品照">
										<div class="overlay"></div> <!-- 半透明黑色背景層 -->
										<button class="add-to-cart-btn">加入購物車</button>
									</div>
									<!-- 收藏愛心 -->
									<div
										class="btn-loving d-flex align-items-center justify-content-center bg-white rounded-circle opacity-50 position-absolute top-0 end-0 mt-4 me-4">
										<a href="#"><span
												class="material-symbols-outlined align-bottom text-gray-600 fw-light">
												favorite
											</span></a>
									</div>
									<!-- 商品文字 -->
									<div class="card-body">
										<a href="plist.html">
											<p class="hot-sales-title text-gray-800 mb-4">太陽月亮｜水晶手鍊</p>
											<p class="text-gray-900">
												<span class="text-decoration-line-through fs-m-2 text-gray-600 me-3">
													NT$1990
												</span>NT$980
											</p>
										</a>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card text-center position-relative">
									<!-- 商品圖片 -->
									<div class="card">
										<img src="../assets/images/Item-4.png" class="card-img" alt="商品照">
										<div class="overlay"></div> <!-- 半透明黑色背景層 -->
										<button class="add-to-cart-btn">加入購物車</button>
									</div>
									<!-- 收藏愛心 -->
									<div
										class="btn-loving d-flex align-items-center justify-content-center bg-white rounded-circle opacity-50 position-absolute top-0 end-0 mt-4 me-4">
										<a href="#"><span
												class="material-symbols-outlined align-bottom text-gray-600 fw-light">
												favorite
											</span></a>
									</div>
									<!-- 商品文字 -->
									<div class="card-body">
										<a href="plist.html">
											<p class="hot-sales-title text-gray-800 mb-4">富貴綠｜水晶手鍊</p>
											<p class="text-gray-900">
												<span class="text-decoration-line-through fs-m-2 text-gray-600 me-3">
													NT$1990
												</span>NT$980
											</p>
										</a>
									</div>
								</div>
							</div>
						</div>
					</section>

					<!-- 第二層容器分頁 (Pagination) -->
					<div class="container pagination1">
						<nav aria-label="Page navigation example border-0">
							<ul class="pagination justify-content-center border-0">
								<li class="page-item pe-2 pe-sm-4"><a class="page-link" href="#">1</a></li>
								<li class="page-item pe-2 pe-sm-4"><a class="page-link" href="#">2</a></li>
								<li class="page-item pe-2 pe-sm-4"><a class="page-link" href="#">3</a></li>
								<a class="page-link" href="#" aria-label="Next">
									<span aria-hidden="true">&gt;</span>
								</a>
							</ul>
						</nav>
					</div>
				</div>
			</section>

			<!-- section2開發中 -->
			<!-- 背景色 -->
			<section class="section2-bg" style="background-color: rgba(237, 231, 230, 1);">
				<!-- 響應式ok -->
				<div
					class="container section2 d-xxl-flex flex-xxl-row flex-row flex-sm-column justify-content-center  justify-content-sm-center  border-radius-xl">
					<!-- 左邊區塊 -->
					<div class="section2-sub text-block-left">
						<img src="../assets/images/sub.png" class="sub">
					</div>
					<!-- 右側區塊 -->
					<div class="section2-bg2 text-block-left" style="background-color: white ;">
						<!-- padding-lef:112px padding-top:96px-->
						<div class="moon">
							<div class="moon-like">
								<!-- padding-bottom:56px -->
								<img src="../assets/images/MOON LIKE.png" class="moon-img" alt="moon-img">
								<!-- padding-bottom:32px -->
								<!-- 剩此以下RWD未調整 -->
								<div class="discribe">
									<h2 class="discribe-h2">訂閱獲得更多資訊!</h2>
									<form class="row flex-nowrap justify-content-start">
										<input type="email" class="form-control" id="email" placeholder="請輸入email">
										<button type="submit"
											class="btn btn-primary-400 form-btn text-white">訂閱</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

		</main>

		<!-- 以下資訊請注意保留 -->
		<%- include('./layout/footer'); -%>
			<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
			<script type="module" src="../main.js"></script>

</body>

</html>