<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>月幕 MOON LIKE | online shop</title>
   <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <%- include('./layout/head'); -%>
</head>
 <!-- Demo styles -->

<body>
  <%- include('./layout/header'); -%>

    <!-- 請刪除main中間資料之後開始開發 -->

    <!-- <main> -->
      <section class="section-article">   
        <div class="container">
          <div class="row  justify-content-center align-items-center">
            <div class="col-sm-12 mt-3 me-10">
              <!-- breadcrumb 修改間距,背景顏色-->
              <nav style="--bs-breadcrumb-divider: url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E);" aria-label="breadcrumb">
                <ol class="breadcrumb text-primary-100">
                  <li class="breadcrumb-item "><a class="text-gray-500" href="#">首頁</a></li>
                  <li class="breadcrumb-item "><a class="text-gray-500" href="#">精選商品</a></li>
                  <li class="breadcrumb-item active"><a class="text-gray-700" href="#">財富綠水晶</a></li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </section>  

<section class="section-pic">
  <div class="container mt-23 mt-5">
    <div class="row justify-content-flex-start align-items-center">
      <div class="col-sm-12 col-md-6">   
        <!-- Swiper  陰影部分RWD還沒設定-->
        <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper4">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="../assets/images/Item-4-2.png" />
            </div>
            <div class="swiper-slide">
              <img src="../assets/images/Item-4-3.png" />
            </div>
            <div class="swiper-slide">
              <img src="../assets/images/Item-4-4.png" />
            </div>
            <div class="swiper-slide">
              <img src="../assets/images/Item-4.png" />
            </div>   
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
        <div thumbsSlider="" class="swiper mySwiper3 ">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="../assets/images/Item-4-2.png" />
            </div>
            <div class="swiper-slide">
              <img src="../assets/images/Item-4-3.png" />
            </div>
            <div class="swiper-slide">
              <img src="../assets/images/Item-4-4.png" />
            </div>
            <div class="swiper-slide">
              <img src="../assets/images/Item-4.png" />
            </div>
          </div>
        </div> 
      </div>  
      <!-- 調RWD -->
      <div class="col-sm-12 col-md-6 mt-0 pt-40">
        <div class="product-description">
          <h2 class="text-gray-800 mb-4 ">財富綠水晶</h2>
              <p class="text-gray-800 mb-4 ">由天然綠色水晶製成，擁有迷人的色彩和光澤，能夠平衡身心靈的能量，帶來和諧與平穩。</p>
    
          <h5 class="text-gray-800 mb-4 ">【材質】</h5>
              <p class="text-gray-800 mb-4 ">綠海文石+綠髮晶+綠幽靈+鈦晶石+14k金隔珠+14k刻花彎管+日本禪絲線</p>
    
          <h5 class="text-gray-800 mb-4">【注意事項】</h5>
              <p class="text-gray-800 ">1. 水晶為天然材質,天然水晶材質有光澤、紋路、顏色、棉絮、礦缺、冰裂、雜質、黑礦雜點等差異,這些狀況不適用瑕疵商品退貨範圍。</p>
              <p class="text-gray-800 ">2. 水晶礦石在不同的切面、角度或光線下,會呈現稍微不同的色澤。</p>  
    
          <div class="price-wrapper col-sm-12">
          <!-- 折扣價格 --><!-- 調RWD NT990字換行-->
          <span class="discounted-price text-primary-400 me-12">NT $990</span>
          <!-- 原價（被刪除的價格） --><!-- 調RWD NT1990字換行-->
          <span class="original-price ms-3 text-gray-500 ">NT $1990</span>
          </div>
          <div class="container mt-5">
            <form>
                <div class="mb-2 me-20">
                    <label for="wristSize" class="form-label text-gray-700">手圍大小</label>
                    <select class="form-select" id="wristSize" aria-label="手圍大小選擇">
                        <option class="text-gray-700" selected>14CM</option>
                        <option class="text-gray-700" value="15">15CM</option>
                        <option class="text-gray-700" value="16">16CM</option>                     
                    </select>
                </div>
            </form>
        </div>
        <div class="container mt-5 me-20">
          <!-- 數量選擇器 --><!-- 調RWD -->
          <div class="mb-3">
              <label for="quantity" class="form-label text-gray-700">數量</label>
              <div class="input-group">
                  <button class="btn btn-outline-secondary text-gray-700" type="button" id="decreaseBtn">-</button>
                  <input type="text" class="form-control text-center" value="1" id="quantity" aria-label="數量">
                  <button class="btn btn-outline-secondary text-gray-700" type="button" id="increaseBtn">+</button>
              </div>
          </div>
          <!-- 加入購物車按鈕 --><!-- 調RWD -->
          <button class="btn btn-cart btn-primary-400 text-white me-20">加入購物車</button>
          </div>
        </div>
      </div>      
    </div>
  </div>  
</section>
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper1 = new Swiper(".mySwiper3", {
    spaceBetween: 10,
    slidesPerView: 4,
    freeMode: true,
    watchSlidesProgress: true,
  });
  var swiper2 = new Swiper(".mySwiper4", {
    spaceBetween: 10,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    thumbs: {
      swiper: swiper1,
    },
  });
</script>       
</div>
<section>
  <div class="container">
    <div class="row justify-content-flex-start align-items-center">
      <div class="col-md-6 mt-0 pt-20 mb-12">
        <div class="product-description1">
          <h3 class="text-gray-800 mb-4 ms-10">商品描述</h3>
            <p class="text-gray-800 ms-10">・綠海文石+綠髮晶+綠幽靈+鈦晶石+14k金隔珠+14k刻花彎管+日本禪絲線</p>
            <p class="text-gray-800 ms-10">・手錬採用日本禪絲線,好彈性不易斷,穿戴超方便</p>
            <p class="text-gray-800 ms-10">・搭配14k包金材料,色澤持久不易退色</p>
            <p class="text-gray-800 ms-10">・推薦給想提升財運、自信、創業/業務的妳</p>
          </div>
        </div> 
    </div>
</section>
<section> 
<div class="container mb-12">
  <div class="row">
      <!-- 圖片置中並佔據 6 格（可根據需求調整佔幾格）-->
      <div class="col-12 col-md-12 col-sm-4 mx-auto ">
          <img src="../assets/images/Item-4-2.png" alt="圖片" class="product-image1 rounded-2">
      </div>
  </div>
</div>
</section>
<section>
<div class="container mb-6">
  <div class="row">
      <!-- 圖片置中並佔據 6 格（可根據需求調整佔幾格）-->
      <div class="col-12 col-md-6 col-sm-4 mb-6 mx-auto">
          <img src="../assets/images/Item-4-3.png" alt="圖片" class="product-image2 rounded-2">
      </div>
      <div class="col-12 col-md-6  col-sm-4 mx-auto">
        <img src="../assets/images/Item-4-4.png" alt="圖片" class="product-image3 rounded-2">
    </div>
  </div>
</div>
</section>
<div class="container image-container">
  <div class="row justify-content-center">
      <!-- 圖片置中並佔據 6 格，這裡你可以調整佔幾格 -->
      <div class="col-12 col-md-12 col-sm-4 mb-12 mx-auto">
          <img src="../assets/images/Item-4.png" alt="圖片" class="product-image4 rounded-2">
      </div>
  </div>
</div>
<section>
  <div class="container">
    <div class="row justify-content-flex-start align-items-center">
      <div class="col-md-12 pt-20">
        <div class="product-description2">
          <h3 class="text-gray-800 mb-4 me-20 ">如何量測手圍?</h3>
            <p class="text-gray-800">1.將捲尺在手腕最細的地方繞一圈,不須拉緊或放松。</p>
            <p class="text-gray-800">2.若沒有捲尺也可用無彈性的線或鞋帶代替,再用尺量測長度。</p>
            <p class="text-gray-800">3.依照個人配戴習慣來決定預留公分數(喜歡戴緊加上1公分,喜歡寬鬆加上2公分)。</p>
            <p class="text-gray-800">4.請正確量測手圍的長度,以避免手錬尺寸不合需易外修改,並收費。</p>
          </div>
        </div>
      <div class="col-md-12 mt-0 pt-20 mb-12">
        <div class="product-description3">
            <h3 class="text-gray-800 mb-4 me-20 ">關於出貨</h3>
              <p class="text-gray-800">1.現貨商品於7日內出貨。</p>
              <p class="text-gray-800">2.賣場少量現貨,若現貨售完,以預購方式安排。</p>
              <p class="text-gray-800">3.預購期為7-28天工作,會盡量用最快的速度完成寄給你們喔~請耐心等候~</p>
        </div>
      </div>
      <div class="col-md-12 mt-0 pt-20 mb-12">
        <div class="product-description4">
            <h3 class="text-gray-800 mb-4 me-20 ">包裝</h3>
              <p class="text-gray-800">1.牛皮紙盒、透明夾鏈袋、保養說明。</p>
              <p class="text-gray-800">2.贈品:拭銀布(一筆單乙條)、消磁水晶碎石(一筆單乙包約60g)(數量有限,送完為止)</p>
        </div>
      </div> 
      <div class="col-md-12 mt-0 pt-20 mb-12">
        <div class="product-description5">
            <h3 class="text-gray-800 mb-4 me-20 ">關於水晶保養?</h3>
              <p class="text-gray-800">1.水晶飾品出貨前皆已消磁,收到時可直接配戴。</p>
              <p class="text-gray-800">2.飾品氣化時用飾銀布擦拭,或牙膏沾水輕輕擦拭後再擦乾。</p>
              <p class="text-gray-800">3.若出現打結線頭或珠珠之間有空隙產生為正常現象,請左右輕拉珠珠,順一下珠珠即可。</p>
              <p class="text-gray-800">4.為避免彈性繩手鍊線材因彈性疲乏而斷裂,於配戴時請避免用力拉扯。</p>
              <p class="text-gray-800">5.避免接觸化妝品、香水、洗髮乳、沐浴乳等產品,建議洗澡、沐浴、泡溫泉、接觸海水時取下。</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-12 text-center mb-4">
      <h3 class="custom-heading text-gray-800 mb-4">猜你喜歡</h3>  
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
      <!-- 每個產品卡片佔據 6 格，手機螢幕上顯示兩張圖並排 -->
      <div class="col-6 col-md-4 col-lg-3 mb-4">
          <div class="product-card">
              <!-- 愛心圖標 -->
              <i class="heart-icon fas fa-heart"></i>
              <img src="../assets/images/Item-1.png" alt="二姊款" class="product-image rounded-2">
              <h5 class="text-gray-800">二姊款 | 水晶手鍊</h5>
              <div class="price-row">
                  <p class="original-price text-gray-600">NT$1990</p>
                  <p class="price text-gray-600">NT$980</p>
              </div>
          </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-4">
          <div class="product-card">
              <i class="heart-icon fas fa-heart"></i>
              <img src="../assets/images/Item-2.png" alt="少女坦桑石" class="product-image rounded-2">
              <h5 class="text-gray-800">少女坦桑石 | 水晶手鍊</h5>
              <div class="price-row">
                  <p class="original-price text-gray-600">NT$1990</p>
                  <p class="price text-gray-600">NT$980</p>
              </div>
          </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-4">
          <div class="product-card">
              <i class="heart-icon fas fa-heart"></i>
              <img src="../assets/images/Item-3.png" alt="太陽月亮" class="product-image rounded-2">
              <h5 class="text-gray-800">太陽月亮 | 水晶手鍊</h5>
              <div class="price-row">
                  <p class="original-price text-gray-600">NT$1990</p>
                  <p class="price text-gray-600">NT$980</p>
              </div>
          </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-4 mb-20">
          <div class="product-card">
              <i class="heart-icon fas fa-heart"></i>
              <img src="../assets/images/Item-4-2.png" alt="富貴綠" class="product-image rounded-2">
              <h5 class="text-gray-800">富貴綠 | 水晶手鍊</h5>
              <div class="price-row">
                  <p class="original-price text-gray-600">NT$1990</p>
                  <p class="price text-gray-600">NT$980</p>
              </div>
          </div>
      </div>
  </div>
</div>

    <!-- </main> -->

    <!-- 以下資訊請注意保留 -->
    <%- include('./layout/footer'); -%>
      <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
      <script type="module" src="../main.js"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.6/dist/umd/popper.min.js"></script>
</body>
</html>







